body {
    font-family: "Poppins", sans-serif;
    background: #272044;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.card {
    background-color: white;
    margin: 30px 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 0 30px 30px;

}

.btn {
    display: block;
    line-height: 21px;
    background: #272044;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #462cb3;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

section.secondary {
    background: #f8f8f8;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4)), url("../images/washingtonstate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
}

header a {
    display: inline-block;
    line-height: 1.5;
    background: white;
    color: #272044;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-top: 32px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
}

main {
    background-color: white;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: 272044;
    opacity: 0.7;
    text-transform: uppercase;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    color: 272044;
}

main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    color: 272044;
}

main h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    margin: 0;
    color: 272044;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: 272044;
    opacity: 0.7;
}

footer {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgb(39, 32, 68, 0.9)), url("../images/washingtonstate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: white;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
    margin: 0;
}

footer ul {
    padding: 0;
}

footer li {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 24px;
    }

    header h3 {
        font-size: 16px;
    }

    header a {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }
}